trigger: none

resources:
  pipelines:
  - pipeline: ciPipeline
    source: Project-Demo1
    trigger: true

pool:
  name: agent

variables:
  aksCluster: projectdemo1-aks
  resourceGroup: Project-Demo1
  acrName: projectdemo1acr
  imageName: projectdemo
  namespace: default

steps:
- task: Kubernetes@1
  displayName: Set kubectl context
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: 'azure-free-trial-manual'
    azureResourceGroup: '$(resourceGroup)'
    kubernetesCluster: '$(aksCluster)'
    command: login

- script: |
    kubectl apply -f k8s/
  displayName: Apply Kubernetes manifests

- script: |
    kubectl set image deployment/projectdemo-deployment \
    projectdemo=$(acrName).azurecr.io/$(imageName):$(resources.pipeline.ciPipeline.runID)
  displayName: Update image
